p {
    font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}


h1 {
	text-align: center;
}

h2 {
	color: blue;
	padding: 10px;
}

a {
    color: green;
}

ul {
    list-style-type: square;
    font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}